@import "resetize";

html {
  color: #333;
  font-family: Inter, sans-serif;
  font-size: 18px;
  scroll-behavior: smooth;
}

body {
  padding: 10%;
}

svg {
  fill: currentColor;
}

h1,
h2,
h3 {
  letter-spacing: -0.025em;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.125;
}

h2 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.125;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.125;
}

h3 + p {
  margin-top: 0.5rem;
}

a {
  color: slateblue;
  text-decoration: underline;
}

a:hover {
  color: mediumslateblue;
}

.lead {
  font-weight: bolder;
  font-size: 1.25em;
}

ul {
  padding-left: 2.25em;
}

.checklist li::before {
  content: "✔️";
  display: inline-block;
  font-size: 1.25em;
  line-height: 1;
  margin-left: -2rem;
  text-align: center;
  width: 2rem;
}

.layout {
  display: grid;
  gap: 4.5rem;
  grid-template:
    "a c"
    "b c"
    "d c"
    "e e";
}

.section {
  display: grid;
  gap: 2.25rem;
  grid-auto-flow: row;
}

.hello {
  grid-area: a;
}

.expertise {
  grid-area: b;
}

.career {
  grid-area: c;
}

.copywrite {
  font-weight: bolder;
  grid-area: e;
  text-align: center;
}

@media (max-width: 1024px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .layout {
    grid-auto-flow: row;
    grid-template:
      "a"
      "b"
      "c"
      "e";
  }
}

@media print {
  body {
    padding: 0;
  }

  .layout,
  .section {
    display: block;
  }

  .section + .section {
    margin-top: 4.5em;
  }

  .section > * + * {
    margin-top: 2.25em;
  }

  h1,
  h2,
  h3 {
    break-after: avoid-page;
  }

  .career {
    break-before: page;
  }

  p,
  li {
    break-before: avoid-page;
  }

  h1,
  h2,
  h3,
  p,
  li,
  .career > div {
    break-inside: avoid-page;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  a[href^="http"] {
    color: slateblue;
    text-decoration: underline;
  }

  a[href^="http"]::after {
    font-size: 0.75em;
    content: " (" attr(href) ")";
  }
}
