@import "resetize";

html {
  scroll-behavior: smooth;
}

body {
  color: #606c76;
  font-family: Arimo, sans-serif;
  font-size: 18px;
  padding: 10% 1.5rem;
}

svg {
  fill: currentColor;
}

h1,
h2,
h3 {
  letter-spacing: -0.05em;
  line-height: 1.125;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h3 + p {
  margin-top: 0.5rem;
}

a {
  color: dodgerblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.lead {
  font-size: 1.5rem;
  letter-spacing: -0.05em;
  line-height: 1.125;
}

.layout {
  display: grid;
  gap: 4rem;
  grid-auto-flow: row;
}

.section {
  display: grid;
  gap: 2rem;
  grid-auto-flow: row;
  padding: 0 calc(50% - 20rem);
}

li::before {
  content: url(checkmark.svg);
  display: inline-block;
  width: 1rem;
  margin: 0 0.5rem;
  vertical-align: middle;
}

.copywrite {
  font-weight: bolder;
  text-align: center;
}

@keyframes caret {
  to {
    border-right-color: transparent;
  }
}

.typewriter {
  animation: caret 0.5s alternate infinite;
  /* background-color: ivory; */
  border-right: 2px solid currentColor;
  display: inline-block;
  white-space: normal;
}

@media (max-width: 425px) {
  body {
    font-size: 16px;
  }
}

@media print {
  h1,
  h2,
  h3 {
    break-after: avoid;
  }

  h1,
  h2,
  h3,
  p,
  li {
    break-inside: avoid;
  }
}
