@import "~resetize";

@mixin color-scheme($scheme) {
  @media (prefers-color-scheme: $scheme) {
    @content;
  }
  &[color-scheme="#{$scheme}"] {
    @content;
  }
}

@mixin smaller-screen {
  @media (max-width: 768px) {
    @content;
  }
}

html {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Lato, sans-serif;
  font-size: 18px;
  scroll-behavior: smooth;
  transition: color, background-color 0.25s ease-out;

  @include color-scheme(light) {
    --foreground: hsl(220, 0%, 20%);
    --background: hsl(0, 0%, 100%);
    --primary: hsl(220, 80%, 50%);
    --primary-transparent: hsla(220, 80%, 50%, 0.125);
    --primary-active: hsl(220, 90%, 45%);
    --primary-active-transparent: hsl(220, 90%, 45%, 0.875);
  }

  @include color-scheme(dark) {
    --foreground: hsl(0, 0%, 90%);
    --background: hsl(220, 5%, 15%);
    --primary: hsl(220, 100%, 70%);
    --primary-transparent: hsla(220, 100%, 70%, 0.125);
    --primary-active: hsl(220, 90%, 75%);
    --primary-active-transparent: hsl(220, 90%, 75%, 0.875);
  }

  @include smaller-screen {
    font-size: 16px;
  }
}

body {
  padding: 10%;

  @include smaller-screen {
    padding: 6rem 7%;
  }
}

svg {
  fill: currentColor;
}

h1,
h2,
h3 {
  letter-spacing: -0.025em;
}

h1 {
  font-size: 3.75rem;
  font-style: italic;
  font-weight: lighter;
  line-height: 1.125;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.75rem;
  font-weight: bolder;
  line-height: 1.125;
}

h3 {
  font-size: 1.25rem;
  font-weight: bolder;
  line-height: 1.125;
}

h3 + p {
  margin-top: 0.5rem;
}

a {
  box-shadow: inset 0 -0.375em var(--primary-transparent);
  color: var(--primary);
  transition: box-shadow 0.125s ease-out;
}

a:focus,
a:hover {
  box-shadow: inset 0 -0.125em var(--primary-active-transparent);
  color: var(--primary-active);
}

ul {
  columns: 18ch;
  padding-left: 0.5em;
}

li {
  break-inside: avoid;
}

span.bullet {
  display: inline-block;
  width: 1.5em;
  line-height: 1;
  text-align: center;
}

span.bullet img {
  display: inline-block;
  width: 1em;
}

.toolbar {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem 1.5rem;
}

.toolbar a + a {
  margin-left: 0.75rem;
}

.lead {
  font-weight: bolder;
  font-size: 1.25em;
}

.strong {
  font-weight: bolder;
}

.layout {
  display: grid;
  gap: 4.5rem;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    "h c"
    "e c"
    ". c"
    "f f";
}

@media (max-width: 768px) {
  .layout {
    grid-template-areas:
      "h"
      "e"
      "c"
      "f";
  }
}

.section {
  align-content: flex-start;
  display: grid;
  gap: 2.25rem;
  grid-auto-flow: row;
}

.section.picture {
  grid-area: p;
  justify-items: center;
}

.section.hello {
  grid-area: h;
}

.section.expertise {
  grid-area: e;
}

.section.career {
  grid-area: c;
}

.section.footer {
  grid-area: f;
  font-weight: bolder;
  text-align: center;
}

@media print {
  body {
    padding: 0;
  }

  .toolbar {
    display: none;
  }

  .layout,
  .section {
    display: block;
  }

  .section + .section {
    margin-top: 4.5em;
  }

  .section > * + * {
    margin-top: 2.25em;
  }

  h1,
  h2,
  h3 {
    break-after: avoid-page;
  }

  .career {
    break-before: page;
  }

  p,
  li {
    break-before: avoid-page;
  }

  h1,
  h2,
  h3,
  p,
  li,
  .career > div {
    break-inside: avoid-page;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  a[href^="http"] {
    color: slateblue;
    text-decoration: underline;
  }

  a[href^="http"]::after {
    font-size: 0.75em;
    content: " (" attr(href) ")";
  }
}
